html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(225,192,203);
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px yellowgreen;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic > p {
  font-weight: bold;
}